@import '../../../styles/global.scss';


.goToTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    button {
        height: 50px;
        width: 50px;
        border-radius: 20px;
        border-style: none;
        font-size: 40px;
        transition: all 1s;
        background-color: $color-lightTheme;
        &:hover {
            scale: 1.3;
        }
    }
}