@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

h1, h2 {
    font-family: 'Inter', sans-serif;
}

.mainContainer {
    max-width: 1200px;
    margin: 0 auto;
}