@import '../../../styles/global.scss';

.NavBar {
    background-color: #2c2c34;
    border-radius: 20px;
    height: 80px;
    position: relative;
    color: $color-light;
    margin: auto 10px;
}

.titlesBox {
    position: absolute;
    margin: auto 30px;
    text-align: center;
}