@import '../../../styles/global.scss';

.contactWrapper {
    min-height: 350px;
    transition: background-color 1s;
    border-radius: 20px;
    margin: 100px 0;
    padding: 50px;

    &:hover {
        background-color: $color-light;
    }

    .contactContentWrapper {
        margin: 10px;
        display: flex;

        .contactForm {
            margin: auto 15px;
            display: flex;
            flex-direction: column;
            flex: 66.6666%;

            button {
                margin: 10px 0;
            }
        }

        .contactInfo {
            display: flex;
            flex-direction: column;
            flex: 33.3333%;
            margin: auto 15px;

        }
    }
}

@media (max-width: 772px) {
    .contactContentWrapper {
        flex-direction: column;
    }
}