@import '../../../styles/global.scss';

.portfolioWrapper {
    margin: 100px 0;
    min-height: 500px;
    padding: 50px;
    border-radius: 20px;
    transition: background-color 1s;

    &:hover {
        background-color: $color-light;
    }
}