@import '../../../styles/global.scss';

.NavBar {
    
    border-radius: 20px;
    height: 80px;
    margin: auto 0 0 80px;
    display: flex;

}

.titleBox {
    flex: 50%;
    margin: auto 30px;

    .title {

        text-decoration: none;
    }
}

.desktopNav {
    flex: 50%;
    margin: auto 30px;

    ul {
        list-style: none;
        margin: auto;
        padding: 0;
        text-align: right;

        li {
            display: inline-flex;
            margin: auto 10px;
            

            .link {
                font-size: 20px;
                text-decoration: none;
                cursor: pointer;
            }
        }

    }

}

.menuButton {
    display: none;
    justify-content: flex-end;
    width: 100%;
    font-size: 40px;
    margin: auto 10px; 

}


@media (max-width: 772px) {
    .menuButton {
        display: none;
    }
    .NavBar {
        display: flex;
        max-width: 80vw;
    }

    .desktopNav {
        display: none;

    }
}