@import '../../../styles/global.scss';

.heroWrapper {
    height: 500px;
    justify-content: space-evenly;
    display: flex;


    .heroLeft {
        border-radius: 20px;
        margin: 10px;
        flex: calc(66.666% - 20px);
        position: relative;
        max-height: 100%;
        transition: background-color 1s;

        &:hover {
            background-color: $color-light;
        }

        .heroLeftContentWrapper {
            position: absolute;
            flex-direction: column;
            width: 75%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            .heroText {
                p {
                    text-align: justify;
                }
            }

            .techStack {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: $color-light;
                border-radius: 10px;
                justify-content: space-evenly;
                max-width: 70%;

                img {
                    object-fit: contain;
                    max-height: 80%;
                    max-width: 15%;
                    margin: 10px;
                }

            }



        }


    }



    .heroRight {
        border-radius: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: calc(33.333% - 20px);

        .photo {
            height: calc(85% - 20px);
            width: calc(100% - 20px);
            border-radius: 20px;
            background-image: url(/images/me.png);
            background-size: cover;
            background-position: center;
            margin: 20px;
            display: flex;
        }

        .socials {
            width: 100%;
            height: calc(15% - 20px);
            border-radius: 20px;
            display: flex;
            justify-content: space-around;
            transition: all 1s;
            margin: auto 15px;

            &:hover {
                background-color: $color-light;
            }

            .linksWrapper {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin: 0 auto;

                .socialLink {
                    display: flex;
                    width: 33.333%;
                    height: 80%;
                    margin: auto;
                    

                    a {
                        display: flex;
                        width: 100%;
                    }

                    img {
                        cursor: pointer;
                        margin: 15px;
                        transition: all 1s;
                        margin: 0 auto;
                        &:hover {
                            scale: 1.1;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 772px) {
    .heroWrapper {
        flex-direction: column;
        min-height: 1000px;

        .heroLeft {}

        .heroRight {
            width: 100%;
            .photo {
                min-height: 400px;
            }
            .socials {
                max-height: 100px;
                .socialLink {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

}